<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">    
    
    
	<!-- 	Write client-side exceptions to server log, 
	      	see http://www.summa-tech.com/blog/2012/06/11/7-tips-for-exception-handling-in-gwt/  -->
	<servlet>
		<servlet-name>remoteLogging</servlet-name>
		<servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
		<init-param>  
  			<param-name>symbolMaps</param-name>  
  			<param-value>gwt-datehandling-example/symbolMaps</param-value>  
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>remoteLogging</servlet-name>
		<url-pattern>/gwt-datehandling-example/remote_logging</url-pattern>
	</servlet-mapping> 
    
    <welcome-file-list>
        <welcome-file>Application.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>0</session-timeout>
    </session-config>
</web-app>